body
{
	padding: 0;
	margin: 0;
}

#about-me
{
	background: rgb(5,1,2);
	color: white;
	padding-top: 40px;
	padding-left: 15px;
	padding-right: 0;
	padding-bottom: 90px;
}

#projects
{
	background: rgb(247,252,94);
	color: white;
	left: 0;
	right: 0;
}

#soc-links
{
	background: rgb(187,25,0);
	color: white;
	left: 0;
	right: 0;
}